<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <div class="hole-div">
      <button routerLink="/tm/dashboard" mat-icon-button>
        <mat-icon class="icon">dashboard</mat-icon>
      </button><br><br>

      <button class="btn" mat-menu-item routerLink="view-all-trainer">Trainer</button>

        <button class="btn" mat-menu-item routerLink="view-all-batch">View all batch</button>

        <button class="btn" mat-menu-item routerLink="view-all-assessment">View all Assessment</button>
      
  <button class="btn" mat-menu-item routerLink="view-all-trainee">Trainees</button>
      
  
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="warn">
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>TMS</span>
        <span class="example-spacer"></span>
      <button routerLink="/trainer/dashboard" mat-icon-button>
        <mat-icon class="toolbar-icon">home</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon class="toolbar-icon">person</mat-icon>
      </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <label mat-menu-item disabled>{{profile.name}}</label>
          <button mat-menu-item disabled>{{profile.emailID}}</button>
          <button mat-menu-item>Update My Profile</button>
        </mat-menu>
      <button (click)="Logout()" mat-icon-button>
        <mat-icon class="toolbar-icon">logout</mat-icon>
      </button>
      </mat-toolbar>
      <div class="container">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>