<div class="text-center title">
    <h3 align="center" style="font-size:30px">Create new <b>assessment</b> with corresponding batch</h3>
  </div>
  
  <form class="example-form" (ngSubmit)="onSubmit()">
    <button type="submit" mat-mini-fab class="demo-button" id="add">
      <mat-icon>save</mat-icon>
    </button>
    <button type="reset" mat-mini-fab class="demo-button" id="remove">
      <mat-icon>clear</mat-icon>    
    </button>
    <button (click)="viewAllAssessment()" mat-mini-fab class="demo-button" id="all">
      <mat-icon>assessment</mat-icon>    
    </button>
  
  <table style="margin-top: 20px;">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>assessment ID</mat-label>
          <input matInput name="trid" disabled [(ngModel)]="assessment.assessmentID">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput name="name" required [(ngModel)]="assessment.assessmentName" >
      </mat-form-field>
      </td>
    </tr>

  <tr>
    <td>
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput name="date" required [(ngModel)]="assessment.date" >
          </mat-form-field>
        </td>
    <td>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Duration</mat-label>
            <input matInput name="duration" required [(ngModel)]="assessment.duration" >
          </mat-form-field>
    </td>
  </tr>

  <tr>
    <td>
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Starting Time</mat-label>
            <input matInput name="startingTime" required [(ngModel)]="assessment.startingTime" >
          </mat-form-field>
        </td>
    <td>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ending Time</mat-label>
            <input matInput name="endingTime" required [(ngModel)]="assessment.endingTime" >
          </mat-form-field>
    </td>
  </tr>
  

  <tr>
    <td>
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Question</mat-label>
            <input matInput name="question"  [(ngModel)]="assessment.question" >
          </mat-form-field>
        </td>
    <td>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>batch ID</mat-label>
            <mat-select  required [(ngModel)]="assessment.batchID" name="batchID">
              <mat-option *ngFor="let batch of batch" [value]="batch.batchID">{{batch.batchID}} - {{batch.batchName}}</mat-option>
        </mat-select>
          </mat-form-field>
    </td>
  </tr>
 

  <tr align="center" >
    <td colspan="2">
      <button mat-raised-button class="save" >Save</button>
    </td>
  
  </tr>
  </table>     
  </form>
    
  