<div class="demo-button-container">
  <button mat-mini-fab  (click)="addData()" class="demo-button" id="add">
    <mat-icon>add</mat-icon>
  </button>
  <button
      mat-mini-fab
      (click)="removeData()"
      class="demo-button" id="remove">
    <mat-icon>delete</mat-icon>
    
  </button>
 
</div>



<mat-table [dataSource]="datasource" class="mat-elevation-z8">
  <!-- hrId Column -->
  <ng-container matColumnDef="hrId">
    <mat-header-cell *matHeaderCellDef> HR ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hrId}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- phoneNumber Column -->
  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
  </ng-container>

  <!-- educationQualification Column -->
  <ng-container matColumnDef="educationQualification">
    <mat-header-cell *matHeaderCellDef> Qualification </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.educationQualification}} </mat-cell>
  </ng-container>


<ng-container matColumnDef="experience">
  <mat-header-cell *matHeaderCellDef> Experience </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.experience}} </mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="dob">
  <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.dob}} </mat-cell>
</ng-container>

<!-- phoneNumber Column -->
<ng-container matColumnDef="address">
  <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
</ng-container>

<!-- educationQualification Column -->
<ng-container matColumnDef="emailID">
  <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.emailID}} </mat-cell>
</ng-container>

<ng-container matColumnDef="position">
  <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
</ng-container>

<ng-container matColumnDef="role">
  <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



</mat-table>

<mat-progress-bar mode="buffer"></mat-progress-bar>